<!DOCTYPE html>
<html lang="en">
    <title>PLACEMENT PORTAL - Login</title>
    <head style="text-align: center; padding-top: 150px;"> LOGIN </head>
    <body style="text-align: center; padding-top: 150px;">
        <h1>Login to PLACEMENT PORTAL</h1>
        <form action = "/login" method = "post">
            <input name="username">Username : 
            <input name="password" placeholder="password" type = "password">Password :
            <button type="submit">submit</button>
        </form>
</html>