<!DOCTYPE html>
<html lang="en">
    <title>PLACEMENT PORTAL - Signup</title>
    <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>
        <div class = "mb-3 container mt-5 w-50 p-3 border bg-light">
        <h1 style = "text-align: center;">SIGN UP FOR PLACEMENT PORTAL</h1><br><br>
        <form action = "/signup" method = "post">
            <label for = "username">Username</label><br>
            <input type = "text" name="username" class="form-control" placeholder="Username"><br>
            <label for = "password">Password</label><br>   
            <input type = "password" name="password" class="form-control" placeholder="Password"><br>
            <label for = "role">Role</label><br>
            <select name="role" class="form-control">
                <option value="student">Student</option>
                <option value="company">Company</option>
            </select><br>

            <h5>Student Details</h5>
            <label for = "department">Department</label>
            <input type="text" name="department" class="form-control">
            <label for = "resume">Resume</label>
            <input type="text" name="resume" class="form-control">
            <br>

            <h5>Company Details</h5>
            <label for = "company_name">Company Name</label>
            <input type="text" name="company_name" class="form-control">
            <label for = "hr_contact">HR Contact</label><br>
            <input type="text" name="hr_contact" class="form-control">


            {% if request.form.get('role') == 'company' %}
            <label for = "company_name">Company Name</label><br>
            <input type = "text" name="company_name" class="form-control" placeholder="Company Name"><br>
            <label for = "hr_contact">HR Contact</label><br>
            <input type = "text" name="hr_contact" class="form-control" placeholder="HR Contact"><br>
            {% endif %}

            {% if request.form.get('role') == 'student' %}
            <label for = "department">Department</label><br>
            <input type = "text" name="department" class="form-control" placeholder="Department"><br>
            <label for = "resume">Resume</label><br>
            <input type = "text" name="resume" class="form-control" placeholder="Resume"><br>
            {% endif %}
            <button type="submit" class="btn btn-primary">submit</button>
        </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>