<!DOCTYPE html>
<head>
    <title> View Drives</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <h1> View Drives </h1>
    
        <div class="card" style="width: 38rem;">
        
        {% for drive in drives %}
            <div class="card-body">
            <h2>{{ drive.drive_name }}</h2>
            <p>Company ID: {{ drive.company_name }}</p>
            <p>Job Title: {{ drive.job_title }}</p>
            <p>Job Description: {{ drive.job_description }}</p>
            <p>Salary: {{ drive.salary }}</p>
            <p>Location: {{ drive.location }}</p>
        </div>
        {% endfor %}
</div>
        
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>